#Database
VOLUNTEER_HUB_DATABASE_USERNAME=postgres
VOLUNTEER_HUB_DATABASE_PASSWORD=
VOLUNTEER_HUB_DATABASE_HOST=postgres
VOLUNTEER_HUB_DATABASE_NAME=volunteerhub
VOLUNTEER_HUB_DATABASE_TEST_NAME=volunteerhub_test
