#Database
VOLUNTEER_HUB_DATABASE_USERNAME=postgres
VOLUNTEER_HUB_DATABASE_PASSWORD=
VOLUNTEER_HUB_DATABASE_HOST=postgres
VOLUNTEER_HUB_DATABASE_NAME=volunteerhub
VOLUNTEER_HUB_DATABASE_TEST_NAME=volunteerhub_test
#Facebook Social Auth
VOLUNTEER_HUB_FACEBOOK_APP_ID=
VOLUNTEER_HUB_FACEBOOK_APP_SECRET_KEY=
#Google Social Auth 
VOLUNTEER_HUB_GOOGLE_APP_ID=
VOLUNTEER_HUB_GOOGLE_APP_SECRET_KEY=
